.idea
**/__pycache__
build
dist
**.egg-info
.venv/
src/cryptonets_python_sdk/handler/lib/*
src/privateid_local_storage/uuids
tests/example/test_images/MakotoKawamura_FaceFromBadge.png
tests/example/test_images/MakotoKawamura_resized_error.jpg
tests/example/test_images/MakotoKawamura_WithoutGlasses_resized.jpg
tests/example/test_images/img.jpg
